In [2]:
# https://www.youtube.com/watch?v=i6PVshqAUGw
# sentdex is my hero

import MySQLdb
import config  # username and password defined here
import time

In [4]:
# SHOW VARIABLES LIKE 'datadir'; will get the path to the db of interest
# SELECT DATABASE(); will show database name
conn = MySQLdb.connect("localhost", config.USERNAME, config.PASSWORD, "tutorial")   # host, uname, pw, dbname

In [5]:
C = conn.cursor()

In [6]:
C.execute("SELECT * FROM taula")
rows = C.fetchall()
for row in rows:
    print row

(138541700L, 'Sentdex', 'thanks @Billgates for the job offer')
(138541700L, 'sentdex', 'wow, thanks @Obama. You are right these tutorials rock')
(138541699L, 'sentdex', 'welcome to my tutorial')
(12348L, 'sentdex', 'wow, thanks @Obama. You are right these tutorials rock')
(1500838765L, 'python', 'man this is so cool')
(1500838805L, 'python', 'man this is so cool')

In [29]:
# now insert some artificial data into the DB
username = "python"
tweet = "man this is so cool"

C.execute("INSERT INTO taula (time, username, tweet) VALUES (%s, %s, %s)", (time.time(), username, tweet))
conn.commit()  # why precisely is this necessary?

In [30]:
# check the result!
C.execute("SELECT * FROM taula")
rows = C.fetchall()
for row in rows:
    print row

(138541700L, 'Sentdex', 'thanks @Billgates for the job offer')
(138541700L, 'sentdex', 'wow, thanks @Obama. You are right these tutorials rock')
(138541699L, 'sentdex', 'welcome to my tutorial')
(12348L, 'sentdex', 'wow, thanks @Obama. You are right these tutorials rock')
(1500838765L, 'python', 'man this is so cool')
(1500838805L, 'python', 'man this is so cool')

In [39]:
C.close()      # close connection when finished

In [40]:
C.connection   # doesn't return anything when the connection is closed (REALLY?!)

In [3]:
"INSERT INTO taula (time, username, tweet) VALUES (%s, %s, %s)", (time.time(), username, tweet)

NameError: name 'username' is not defined

In [7]:
username = "python"
tweet = "man this is so cool"

In [8]:
username = "python"
tweet = "man this is so cool"

In [10]:
"INSERT INTO taula (time, username, tweet) VALUES (%s, %s, %s)" % (time.time(), username, tweet)

'INSERT INTO taula (time, username, tweet) VALUES (1501203251.58, python, man this is so cool)'